.project-container {
  width: 100%;
  height: 100vh;
  .project {
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bolder;
  }
}
