.project-container {
  width: 100%;
  height: 100vh;
  .project-wrapper {
    width: 100%;
    height: 100%;
    .project {
      text-align: center;
      font-size: 50px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-weight: bolder;
    }
  }
  .project-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem 0;
    li {
      background-color: #fafafa;
      padding: 20px 0;
      border-radius: 1rem;
      .project-imgBox {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 2rem;
      }
      .project-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        h1 {
          font-size: 20px;
          font-weight: bolder;
          margin: 1rem;
          color: #47a4ff;
        }
        p {
          font-size: 13px;
        }
      }
      .project-skill {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          margin: 0 10px;
          border: 1px solid #47a4ff;
          padding: 3px 10px;
          border-radius: 10px;
          color: #47a4ff;
        }
      }
      .project-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
          margin: 5px 0;
          width: 80%;
          padding: 10px 0;
          text-align: center;
          color: white;
          &:first-of-type {
            background-color: #47a4ff;
          }
          &:nth-of-type(2) {
            background-color: #555;
          }
        }
      }
    }
  }
}

// MO

@media (max-width: 768px) {
  .project-container {
    height: 100%;
    .project-wrapper {
      height: 100%;
      .project-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
