/* header */

header {
  padding: 20px 20px;
  color: white;
  background: black;
  .main-titlename {
    font-weight: bolder;
    cursor: pointer;
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .list-items {
      display: flex;
      justify-content: center;
      align-self: center;
    }
    .list-items li {
      padding-left: 10px;
      font-weight: bolder;
      color: white;
      cursor: pointer;
      &:hover {
        color: aqua;
      }
    }
  }
}
