/* header */

header {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  padding: 20px 20px;
  color: white;
  background: black;
  .main-titlename {
    font-weight: bolder;
    cursor: pointer;
  }
  .nav-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mo-togglemenubtn {
      // display: none;
    }
    .list-items {
      display: flex;
      justify-content: center;
      align-self: center;
    }
    .list-items li {
      padding-left: 10px;
      font-weight: bolder;
      color: white;
      cursor: pointer;
      &:hover {
        color: aqua;
      }
    }
  }
}

// 모바일
@media (max-width: 768px) {
  .list-items {
    display: none !important;
  }
}
